@{
    ViewData["Title"] = "Home Page";
}

<div class="keynua-widget" data-token="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJjaWQiOiIyZjk0OWRkMC1mMzdhLTExZWEtODA3OS0zZmE5NTRjNDhjY2NlMSIsInRva2VuX3VzZSI6InNpZ24iLCJpc3MiOiJodHRwczovL2FwaS5rZXludWEuY29tL2NvbnRyYWN0cyIsInVpZCI6MCwicGlkIjoiOWFiODQzYTA4OWRiZDU2MWY3YjlhNTMxNmYyZDFkZDZiYWNhZDUwMTYzZDYxODY0MDJjZDJkYjBmZjY1YmZlNSJ9.T_p03Lbc__Da0cCdS8JE9p7dsxHIbVLY4h0fuyMBlTM"></div>

<script>
    window.Keynua.run();
</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

